<h2>Test</h2>

<form action="/login" method="post"> 

  <label for="email">Email:</label>
  <input type="text" id="username" name="email">    
   
  <label for="password">Password:</label>
  <input type="text" id="username" name="password">

  <input type="submit">

</form>

    
