<form action="/signup" method="post">
  
    <label for="email">Email:</label>
    <input type="text" id="username" name="email">    
      
    <label for="name">Real name (for use on papers):</label>
    <input type="text" id="username" name="real_name">    
      
    <label for="password">Password:</label>
    <input type="text" id="username" name="password">
    
    <label for="password_confirmation">Password Double-check:</label>
    <input type="text" id="username" name="password_confirmation">

    <input type="submit">
  
</form>

    
