
<h2>Documents</h2> 

<% @documents.all(:order => [:last_save.desc]).each do |document| %>

  <li>
  <%= document.last_save %>
  <%= link_to( html_escape(document[:filename]), '/edit/' + document["id"].to_s) %>
  <%= link_to "Print", '/print/' + document[:id].to_s %> 
  </li>

<% end %> 

<%= link_to("Create New", :form) %> 
